[submodule "pre-ts-airdrop"]
	path = pre-ts-airdrop
	url = https://github.com/yukikm/ts-nft-airdrop.git
[submodule "pre-rust-airdrop"]
	path = pre-rust-airdrop
	url = https://github.com/yukikm/rust-nft-airdrop.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/yukikm/solana-starter.git
[submodule "vault"]
	path = vault
	url = https://github.com/yukikm/solana-vault.git
[submodule "escrow"]
	path = escrow
	url = https://github.com/yukikm/solana-escrow.git
[submodule "amm"]
	path = amm
	url = https://github.com/yukikm/anchor-amm.git
